<% if current_user %>
  <h1>Welcome, <%= link_to current_user.email, edit_user_registration_path %></h1>
  <%= link_to 'Epic Login Info', epic_logins_path %>
<% else %>
  Please log in to continue
<% end %>
